




.textAlignCenter_w100{
    text-align: center;
    width:100vw;
}
.textAlignCenter_w100p{
    text-align: center;
    width:100%;
}
.textAlignCenter{
    text-align: center;
}
.fontSize0{
  font-size: 0;
}
.inlineBlock{
    display:inline-block ;
}

.inlineBlockP > div{
    display:inline-block ;
}
.inlineBlockP_verTop > div{
  display:inline-block ;
  vertical-align: top;
}
.blockB_floatL{
  display: block;
  float: left;
}
.inlineBlock_verTop{
  display:inline-block ;
  vertical-align: top;
}

.verticalAlignTop{
  vertical-align: top;
}

.w100{
  width: 100%;
}

/* ***** */
.m_test{
  font-size: 6.7rem;
}


/* ********************* */

.flex {
  display: -webkit-flex;
  display: flex;
}
.flex_1 {
  flex: 1;
}
.flex_align_center {
  align-items: center;
}
.flex_direction {
  flex-direction: column;
}
.flex_justify_content {
  justify-content: center;
}
.flex_justify_between {
  justify-content: space-between;
}

.height_auto {
  height: 100%;
}

/* *********** perRow 统一样式 */
.perRowCom {
  margin-bottom: 16px;
}
.pr_titleCom {
  width: 150px;
  /* text-align: right; */

  height: 20px;
  font-size: 14px;
  font-family: PingFangTC;
  line-height: 20px;
  color: rgba(17, 26, 52, 1);
  margin-bottom: 8px;
}
.pr_contentCom {
  width: 300px;
}
/* *********** 选择模块/切换 */
.choosemodule_PCom {
  width: 400px;
}
.choosemoduleCom {
  border: 1px solid #333333;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin: 0 16px 16px 0px;
  border-radius: 5px;
}
.choosemodule2Com {
  border: 1px solid #1890ff;
  color: #1890ff;
}
.choosemodule3Com{
  margin: 0 16px 0px 0px;
}
/* *********** 提交与重置  fixed 统一样式 */
.flex_submit_p {
  /* background-color: red; */
  background-color: #ffffff;
  border-top: solid 1px #F5F4F6;

  width: 100%;
  /* position: fixed; */
  bottom: 0;

  height: 60px;
  line-height: 60px;
}
.flex_submit {
  /* width: 70%; */
  background-color: #ffffff;
  /* text-align: center; */
}
.btn_submit{
  margin-right: 16px;
}



